.logo-container {
  z-index: 0;
  width: 600px;
  height: 610px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;

  // svg {
  //   width: auto;
  //   height: auto;
  //   bottom: auto;
  //   left: 0;
  // }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: auto; 
    opacity: 0;
    animation: fadeIn 1s 4s backwards;
  }
}

// .svg-container {
//   stroke: #ffd700;
//   stroke-width: 10px;
//   // z-index: 0;
//   // width: 600px;
//   // height: 610px;
//   // position: absolute;
//   // top: 0;
//   // right: 15%;
//   // bottom: 0;
//   // left: auto;
//   // margin: auto;
//   // opacity: 0;
// }